{% extends "base.html" %}
{% block content %}
{% load static %}

<section>

  <!-- Carousel -->

  <div id="carouselExampleFade" class="carousel slide carousel-fade container container-fluid " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/cloth.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/electronic.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/electronic.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Containers -->
  {% for category in product_categories %}
  <div class="container container-fluid border products-overview mt-4 mb-4 p-4 bg-light rounded ">
    <h4>{{ category | upper}}</h4>
    <div class="container pt-3">
      <div class="row align-items-center">
        {% for product in products %}
        {% if product.category == category %}
        <div class="col">
          <div class="card shadow" style="width: 15rem;">
            <img src="{{ product.image.url }}" class="card-img-top " style="width: 13rem; height: 15rem;" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <!-- <p class="card-text overflow-hidden">{{ product.description }}</p> -->
              <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Check it</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</section>
{% endblock %}